# ============================================================
# EcoFirma - Variables de entorno (Plantilla de ejemplo)
# ============================================================

# PostgreSQL
POSTGRES_USER=tu_usuario_postgres_aqui
POSTGRES_PASSWORD=tu_contrasena_postgres_aqui
POSTGRES_DB=ecofirma_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# MySQL
MYSQL_USER=tu_usuario_mysql_aqui
MYSQL_PASSWORD=tu_contrasena_mysql_aqui
MYSQL_DATABASE=ecofirma_users_db
MYSQL_HOST=localhost
MYSQL_PORT=3306

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_TTL=300

# RabbitMQ
RABBITMQ_USER=tu_usuario_rabbitmq_aqui
RABBITMQ_PASSWORD=tu_contrasena_rabbitmq_aqui
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_AMQP_HOST_PORT=5673
RABBITMQ_MANAGEMENT_HOST_PORT=15673

# JWT
JWT_SECRET=tu_clave_secreta_jwt_minimo_32_caracteres
JWT_EXPIRES_IN=1h

# Servicios internos
USERS_SERVICE_URL=http://localhost:3001
DOCUMENTS_SERVICE_URL=http://localhost:3002

# Secreto compartido para comunicación interna entre servicios
INTERNAL_TOKEN=tu_token_compartido_interno_aqui

# Puertos expuestos (host)
FRONTEND_PORT=5188
GATEWAY_PORT=8081
USERS_SERVICE_PORT=3001
DOCUMENTS_SERVICE_PORT=3002
GRAFANA_PORT=3001

# Frontend / navegador
PUBLIC_API_URL=http://localhost:8081
CORS_ORIGIN=http://localhost:5188, http://localhost:5173
